<form id="update-post-form" data-post-id="{{post.id}}">
  <input type="text" id="post-title" placeholder="Title" required>
  <textarea id="post-content" placeholder="Content" required></textarea>
  <button type="submit">Update post</button>
</form>
<script src="/js/updatePost.js"></script>
